html, body{
    margin: 0;
}

#content{
    min-height: 100vh;
    padding-bottom: 100px;
    background-color: #c0c0e7;

}
.Menu{
    font-size: 30px;
    color: #ffffff;
    background: url(./banner.jpg) repeat center;
    background-size: 200px;
    border: 2px solid white;
    border-collapse: collapse;
    padding:10px;
}
.Menu td{
    background-color: #0000006e;
}
.headingRow th{
    font-size: 35px;
    color: white;
    padding:10px;
    background-color: #0000006e;

}
.menuTEXT{
    font-size: 40px;
}
.main_image{
    max-width: 750px;
    justify-self: center;
}
.main{
    margin-top: 100px;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #005573;
}
.main_title{
    font-size: 40px;
    font-weight: 700;
    
    color: rgb(194, 53, 95);
}
.main_info{
    font-size: 20px;
    
}
i{
    font-size: 20px;
}
.REVIEWS_TEXT, .timeTEXT{
    font-size: 30px;
    border-bottom: 2px solid rgb(161, 72, 72);
}
.horarios{
    font-size: 30px;
    color: #1bc5d7;
    background: url(./banner.jpg) repeat center;
    background-size: 200px;
    border: 2px solid white;
    border-collapse: collapse;
    
}
.horarios th, td{
    border: 2px solid white;
    text-shadow: 1px 1px black;
    background-color: #0000003d;
}

.header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;

    min-height: 200px;
    background: url(./banner.jpg)  repeat center;
    background-size: 200px;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 3px black;

    
    
}
.title-header{
    align-self: end;
    justify-self: center;
    margin: 0;
    font-size: 40px;
    color: rgb(0 176 185);
    text-shadow: 1px 1px black;
}
.nav_btns{
    display: flex;
    align-self: end;
    justify-content: center;
    align-items: center;
    gap: 100px;

    
}

.tab1, .tab2, .tab3{
    font-size: 30px;
    color: rgb(247, 243, 41);
    background-color: rgba(0, 0, 0, 0.356);
    border: 1px solid purple;
    box-shadow: 2px 2px 3px black;
    transition: transform 0.5s;
}
.tab1:hover, .tab2:hover, .tab3:hover{
    transform: scale(1.1);
    cursor: pointer;
}

@media only screen and (max-width:760px){
    .nav_btns{
        color: white;
        gap:10px;
    }
    .main_image{
        max-width: 386px;
    }
}